@use 'variables' as *;

:root {
  font-family: $mainFont;
  font-size: 87.5%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  @media (min-width: $breakpoint) {
    max-width: 1200px;
    margin: 0 auto;
  }
}

h1 {
  font-size: 1rem;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  width: 100%;
}
main {
  @media (min-width: $breakpoint) {
    background: linear-gradient(to right, $primaryColor 0 35%, $secondaryColor 35% 100%);
  }
}

#contact {
  @media (min-width: $breakpoint) {
    width: 35%;
    color: $secondaryColor;
    a {
      color: $secondaryColor;
    }
  }
}

#experience {
  @media (min-width: $breakpoint) {
    width: 65%;
  }
}

section:nth-child(odd) {
  color: $primaryColor;
  background: $secondaryColor;
  a{
    color: $primaryColor;
  }
}
section:nth-child(even) {
  color: $secondaryColor;
  background: $primaryColor;
  a{
    color: $secondaryColor;
  }
}